<div class="container" data-ng-controller="reportGeneCtrl">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li role="presentation"
      data-ng-repeat="(key, value) in pageList track by $index"
      data-ng-class="{active : value.actived}"
      data-ng-click="clickPage(value);">
        <a>{{value.pageName}}</a>
      </li>
    </ul>
  </div>
  <div class="col-md-12" data-ng-show="pageList.uploadPage.actived">
    <!-- Excel Upload -->
    <div class="col-md-12">
      <js-xls onread="read" onerror="error"></js-xls>
    </div>

			<!-- List of Students -->
			<div class="col-md-12">
				<table class="table">
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Gender</th>
						<th>Grade</th>
					</tr>
					<tr ng-repeat="item in jsonSheet">
						<td>{{$index}}</td>
						<td>{{item.name}}</td>
						<td>{{item.gender}}</td>
						<td>{{item.grade}}</td>
					</tr>
				</table>
			</div>
  </div>
  <div class="col-md-12" data-ng-show="pageList.editPage.actived">
    <!-- templates editing page -->

  </div>
  <div class="col-md-12" data-ng-show="pageList.resultPage.actived">
    <!-- results display page -->
    result table
    <table>

    </table>
  </div>
</div>
