<div class="container" data-ng-controller="peipeiPageCtrl">
    <div class="col-md-12">
        <a data-ng-click="showVoice('peipei')">
            <img src="./js/data/peipei.jpg" alt="">
        </a>
    </div>
    <div class="col-md-12">
        <a data-ng-click="showVoice('qiaozhi')">
            <img src="./js/data/qiaozhi.jpg" alt="">
        </a>
    </div>
    <div class="col-md-12">
        <a data-ng-click="showVoice('babazhu')">
            <img src="./js/data/babazhu.jpg" alt="">
        </a>
    </div>
    <div class="col-md-12">
        <a data-ng-click="showVoice('mamazhu')">
            <img src="./js/data/mamazhu.jpg" alt="">
        </a>
    </div>
</div>
